<h3>ALL THE FEEDZ</h3>
<div class="">
<ul>
<% feeds.each(function (feed) { %>
    <li> <button class="destroy" id="<%= feed.id %>">X</button><a href="#/feeds/<%= feed.id %>"><%= feed.escape("title")  %>
   </li></a>
<% }) %>
</ul>

