<h1>FEED ME</h1>

<form>
  <label for="feed_title">Title</label>
  <input type="text" name="feed[title]"></input>
  <br>
  <label for="feed_title">Url</label>
  <input type="url" name="feed[url]"></input>
  <input type="submit"></input>
</form>

